<center><h1>Welcome Admin!</h1></center>
<!--<button id="create-event-btn" class="btn btn-default btn-lg">Create Event</button>-->
<%= render 'layouts/flash_messages' %>
<div class="button-pad">
    <center>
        <%= button_to "Create Event", new_event_path, :class => "btn btn-default btn-lg", :id =>"create-event-btn" %>
    </center>
    <br>
    <center>
        <a href=<%= points_meeting_path %> class="btn btn-default btn-lg" id="meeting-login-btn">Meeting Login</a> 
    </center>
</div>