<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<p>For some reason there is an error with the nav bar on this page??????????????????????</p>

<form action="/action_page.php" method="get">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>