


<h1 class="title">Meeting Sign In</h1>
<%= render 'layouts/flash_messages' %>
<div class="meeting-form">
    <%= form_tag :method => :post, :class => '', :controller => 'events', :url => events_meeting_signin_path, :action => 'meeting_signin' do %>
    
        <div class="row col-sm-12 form-group"> <!-- Dropdown list -->
            <select class="btn-group bootstrap-select selectpicker show-tick">
                <option disabled selected value> -- Select Meeting -- </option>
                <% @upcoming_meetings.each do |event| %>
                    <option><%= event.name %></option>
                <% end %>
            </select>
        </div>
        <div class="row col-sm-12 form-group"> <!-- UIN label -->
            UIN:
        </div>
        <div class="row col-sm-12 form-group"> <!-- UIN text box -->
            <input class="form-control" type="text" name="uin"  placeholder="UIN" value="" required>
        </div>
        <div class="row col-sm-12 form-group"> <!-- Buttons -->
            
            
            
            <div class="col-md-4">
                <a href=<%= new_user_path %> id="sign_up_button_id" class="btn btn-lg btn-link btn-block">Sign Up</a>
            </div>
        </div>
    
    <% end %>
</div>