<html>
    <!-- <head/> -->
    <style>
        .center {
          margin: auto;
          width: 30%;
          padding: 10px;
        }

        label { padding-bottom: 10px;
          font-weight: normal;
        }
    </style>
</html>

<%= form_tag :method => :post, :class => 'form-signin', :controller => 'attendances', :action => 'create', :event_id => params[:event_id] do %>

  <div class="center">
    <h1>Sign Up for Event</h1>

    <label>
      Do you need a car ride?:
      <form action="" name="car_ride" required>
        <input type="radio" name="car_ride" value="true"> Yes
        <input type="radio" name="car_ride" value="false"> No
      </form>
    </label>

    <label>
      Any special comments?:<br />
      <textarea name='comment' id='comment' cols="50"></textarea><br />
    </label>

  	<div class="col-md-8">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
    </div>
    <div class="col-md-8" style="padding-top: 1em;">
      <a href="javascript:history.back()" class="btn btn-lg btn-default btn-block" >Go Back</a>
    </div>
  </div>
<% end %>
    