<%= form_tag :method => :post, :class => 'form-signin', :controller => 'user', :action => 'admin_password_validation' do %>
    <html>
    <!-- <head/> -->
    <style>
        .center {
          margin: auto;
          width: 30%;
          padding: 10px;
        }
    </style>
  </html>

  <h1 class="form-signin-heading text-muted center">Admin Log In</h1>

  <div class="center">
 	<input name="admin_password" type="password" class="form-control" placeholder="Admin Password" required="" autofocus="">
 </div>
  <div class="row">
    <div class="center">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </div>
  </div>
<% end %>