<%= form_tag :method => :post, :class => 'form-signin', :controller => 'user', :action => 'login' do %>
  <h1 class="form-signin-heading text-muted center">Log In/Sign Up</h1>

  <html>
    <!-- <head/> -->
    <style>
        body {
          color: red;
        }

        .center {
          margin: auto;
          width: 40%;
          padding: 10px;
        }
    </style>

    <div class="center">
      <body>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
   
        <!-- more content -->
      </body>
    </div>
  </html>

  <div class="center">
    <input name="login_UIN" id="login_UIN_id" type="text" class="form-control" maxlength="9" placeholder="UIN" required="" autofocus="">
    
    <div class="login-btn-padding">
      <div class="col-md-6">
        <button name="login_button" id="login_button_id" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      </div>
      <div class="col-md-4">
        <a href=<%= new_user_path %> id="sign_up_button_id" class="btn btn-lg btn-link btn-block">Sign Up</a>
      </div>
    </div>
  </div>
<% end %>