<h1>Create New User</h1>

<!--since our method is a POST http request there is only one route that is mapped with this which is the user#create so you can simply use url: => user_path  -->
<%= form_tag :method => :post, :class => 'form-signin', :url => user_path do %>

  <div class="col-xs-3">
  	<input name="UIN" type="text" class="form-control" pattern="\d{9}" maxlength="9" placeholder="UIN" autofocus="">

  	<input name="Name" type="text" class="form-control" pattern="[a-zA-Z ]+" placeholder="Name" autofocus="">

  	<input name="Phone" type="text" class="form-control" pattern="\d{10}" maxlength="10" placeholder="Phone" autofocus="">

  	<input name="Email" type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" autofocus="">

  	<input name="Street" type="text" class="form-control" placeholder="Street" autofocus="">

  	<input name="City" type="text" class="form-control" placeholder="City" autofocus="">

  	<input name="State" type="text" class="form-control" placeholder="State" autofocus="">

  	<input name="ZIP Code" type="text" class="form-control" placeholder="ZIP Code" autofocus="">

  	<select name="Classification">
  		<option value="Freshman">Freshman</option>
  		<option value="Sophomore">Sophomore</option>
  		<option value="Junior">Junior</option>
  		<option value="Senior">Senior</option>
  		<option value="Graduate">Graduate</option>
  	</select>

  	<input name="Major" type="text" class="form-control" maxlength="9" placeholder="Major" autofocus="">

  	<select name="Shirt Size">
  		<option value="X-Small">X-Small</option>
  		<option value="Small">Small</option>
  		<option value="Medium">Medium</option>
  		<option value="Large">Large</option>
  		<option value="X-Large">X-Large</option>
  		<option value="XX-Large">XX-Large</option>
  		<option value="XXX-Large">XXX-Large</option>
  	</select>

  	<br>

  	<form action="">
  		<input type="radio" name="gender" value="male"> Male<br>
  		<input type="radio" name="gender" value="female"> Female<br>
  	</form>

  	<br>

  	<form action="">
  		<input type="radio" name="officer" value="yes"> Yes<br>
  		<input type="radio" name="officer" value="no"> No<br>
  	</form>

  	<div class="col-md-8">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button>
    </div>
  </div>
  </div>
<% end %>