/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-select
 */

 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
 
.navbar .nav.pull-right {
    float: right;
    margin-right: 3em;
    vertical-align: auto;
}
.body-content{
    padding-top: 5em;
}
.nav-item{
    padding-right: 2em;
    padding-left: 2em;
}
.nav-item-log-out{
    padding-top: 0.5em;
}

.title{
    margin-left: 2em;
    margin-bottom: 1.5em;
}
.navbar .navbar-nav .nav-item>a:hover{
    // background-color: green;
    color: gray;
}
.page-margins{
   margin-left: 10em;
   margin-right: 10em;
}
.center-label {
    width: 40%;
    margin: auto;
    display: block;
}
.footer{
    margin-top: 5em;
}
.going-list{
    background-color:#4ae87c;
}
.wait-list{
    background-color:#ffea84;
}