// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-card{
    outline: black solid thick;
    margin-left: 10em;
    margin-right: 10em;
    outline-width: 2px;
    padding: 1.5em;
}

.event-image{
    max-height: 200px;
    max-width: 200px;
}

.event-item-margin{
    margin-left: 1em;
}

.event-btn{
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 1em;
}

.meeting-form{
    margin-left: 30em;
    margin-right: 30em;
}

.create-form{
    margin-left: 10em;
    margin-right: 10em;
}
