<style>
  .center {
          margin: auto;
          width: 40%;
          padding: 10px;
        }
</style>

<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> fade in center" style="">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value %>
    </div>
  <% end %>
</div>